<html>

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
</script>
      
</head>

<body>
  <h1>{{title}}</h1>
  <p>Welcome {{user}}</p>
  <h4><a href="http://localhost:3000/login">Login</a><br>
      <a href="http://localhost:3000/signup">Signup</a><br>
      <a href="http://localhost:3000/music/addsong">Add Song</a>
      <a href="http://localhost:3000/music/songs">Songs</a></h4>
  {% block body %}
  {% endblock %}
</body>

</html>
