<html>
<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="/materialize/css/materialize.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/style.css" rel="stylesheet">
  <script src="/materialize/js/materialize.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/script.js"></script>
<script>
  var socket = io.connect('http://localhost:3000');
</script>
</head>
<body>
<div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo">Music-Cloud</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/music/addsong">Add Song</a></li>
            <li><a href="/music/songs">Songs</a></li>
          </ul>
      </div>
    </nav>
</div>  
{% block body %}
{% endblock %}
</body>
</html>
