


.player-head
{
  position: relative;
}

.player
{
    position: fixed;
    bottom: 0;
    left:0;
    right:0;
    width: 100%;
    padding:20px;
    margin: 0;
    display: none;
    border-radius: 11px 11px 0 0;
    background-color: rgba(255, 255, 255,1);
    box-shadow: 0 -8px 15px 0 rgba(0,0,0,0.19);
} 